body {}

#banner {
    width: 100%;
}

.titulopcp {
    padding-left: 20px;
}

.principal {
    background: #CCCCCC;
    padding: 30px;
}

.titulocentralizado {
    text-align: center;
}

em strong {
    color: red;
}

p {
    text-align: center;
}

#missao {
    font-size: 20px;
}

.itens {
    font-style: italic;
}

.beneficios {
    background: white;
    padding: 20px;
}

h2 {
    text-align: center;
}

.imgben {
    width: 50%;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}